body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Sacramento', cursive;
}


h1 { 
  font-size: 4rem;
  margin: 0 auto;
 }

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.5rem;
}

p {
  font-size: 1.25rem;
  line-height: 2rem;
  font-family: 'Montserrat', sans-serif;
}

a {
  font-family: 'Sacramento', cursive;
  color: #800020;
  font-size: 1.5rem;
}